/* CSS designed by Cristine Sudo Enoki */

/* ===================  General Section  ==================================== */

* {
    font-family: 'PT Sans', sans-serif;
    font-size: 12pt;  /* sets the font size for all elements. */
    /* look up reset style sheet */
}


body {
    background-color: #f5f5f5;
    background-image: url('../final-project/images/background.jpg');
    margin: 0% 10%;
}

article{
    background-color: #f5f5f5;
}

h1 {
    color: #000000;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 1.5em;
}

h2 {
    color: #000000;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 1.25em;
}

h3 {
    color: black;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 1em;
}

h4 {
    color: #000000;
    font-family: "sans-serif";
    font-weight: bold;
    font-size: .8em;	
}

h5 { 
    color: #000000;
    font-family: "sans-serif";
    font-weight: bold;
    font-size: .6em;	
}

h6 {
    color: #000000;
    font-family: "sans-serif";
    font-weight: bold;
    font-size: .5em;	
}

ol ol ol li {
    list-style: lower-alpha
}

ol ol li {
    font-weight: normal;
    list-style: decimal;
    padding-top: 0em
}

ol li {
    font-weight: bold;
    list-style: upper-roman;
    padding-top: 1em
}

ul ul ul li { 
    list-style: circle;
}

ul ul li { 
    list-style: square;
}

ul li { 
    list-style: disc;
}

article p{
    width: 68%;
}


figure{
    margin: 1%;
}

.portrait img{
    width: 140px;
    float: left;
    margin: 2%;
}


aside {
    border: solid thin black;
    margin-bottom: 2%;
    width: 30%;
    background-color: #f5f5f5;
}

aside h1, .students h1 {
    font-size: 16pt;
    margin: 0%;
    text-align: center;
    background-color: #6fb750;
}

aside p {
    padding: 0% 4%;
}

.no-border{
    border: none;
}

.students {
    min-width: 8.5em;
    border: solid thin black;
    margin-bottom: 2%;
}

.portrait{
    margin: 0%;
}
.quote {
    font-style: italic;
    text-align: justify;
    border: solid thin black;
    margin-bottom: 2%;
}

.quote p{
        font-size: 14pt;
}

.firstimg img {
    width: 100%;
    min-width: 315px;
}

.flag img {
    width: 135%;
    margin: 4%;
}

.name {
    text-align: right;
}

.information p {
    width: 95%;
}

.flexslider ul li {
    list-style-type: none;
}

.medium-img img {
    width: 100%;
}

.small-img img {
    width: 100%;
}

.right img{
    float: right;
    clear: left;
    margin-left: 2%;
}


article figure {
    width: 68%;
    margin-left: 0px;
}

.float-right{
    float: right;
    clear: both;
}

.tourism-left figure{
    margin: 0% 2% 2% 0%;
    float: left;
    width: 50%;
}

.tourism-right figure{
    margin: 0% 0% 2% 2%;
    float: right;
    width: 50%;
    
}


section {
    margin: 1% 0%;
    width: 68%;
    height: 17em;
}

figcaption{
    font-style: italic;
    text-align: center;
    font-size: 10pt;
}

.tourism-left p, .tourism-right p{
    width: 100%;
}

.left img{
    float: left;
}

.height{
    height: 20em;
}


.small-img {
    float: left;
    width: 13.5%;
    margin: 2% 0% 2% 0%;
}

.long-img {
    float: left;
    width: 22.7%;
    margin: 2% 0% 2% 0%;
}

.long-img img {
    width: 100%;
}

article ul {
    margin-left: -2.5%;
}

article ul li{
    width: 68%;
    padding: 1%;
}

.firstimg {
    width: 68%;
}
/* ===================  Header Section  ==================================== */
/* now i would have a section that corresponds to my html sections.          */
header {
    background-color: #6fb750;
    margin-bottom: 2%;
}

.logo img {
    width: 75px;
    float: left;
}

/* ===================  Navigation Section  ================================= */

nav{
    float: right;
    width: 60%;
}

nav ul {
    text-align: right;
    margin-top: 0%;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    text-transform: uppercase;
    padding: 2%;
}

nav ul li :link{
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10pt;
}

nav ul li a:hover{
    color: #5781E2;
    text-decoration: none;
}

.activePage{
    text-decoration: underline;
}





/* Dropdown Button */
.dropbtn {
    padding: 16px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #6fb750;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown button {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10pt;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/* ===================  Footer Section  ================================= */

footer{
    font-style: italic;
}
/* ===================  Home Page        ==================================== */
/* -------------------------------------------------------------------------- */
#home {  
    background-color: #aaaaaa;
}

#home p {
    /* this rule will give all the paragraphs on the home page a first line  */
    /* indent of 3 em. it only effects paragraphs that are contained inside  */
    /* the element with the id of home, this replaces using an embeded or    */
    /* level style */
    text-indent: 3em;
}

/* ===================  General Class Section  ============================= */
/* I can add any generic classes here. Technically i can place these rules   */
/* anywhere in the style sheet. This just helps to organize everything.     */
.firstLine {
    text-indent: 3em;
}

/* ===================  Form                   ============================= */

#frmRegister{
    text-align: left;
}

.contact, .checkbox, .personal, .comment {
    border: solid thin #6fb750;
    clear: both;
}

.buttons {
    border: none;
    margin-left: 40%;
}

.personal legend, .checkbox legend, .contact legend, .comment legend{
    color: #6fb750;
    font-size: 14pt;
}

.radio legend, .listbox legend {
    font-size: 12pt;
     color: black;
}

input {
	padding: 10px;
	margin: 5px;
}

input [type=text]{
	border: 2px solid black;
	border-radius: 0.7em;
}


#form input:focus,
#form textarea:focus,  
#form select:focus{
    border: 1px solid #0C0;
}

#form input:hover{
    background-color: lightgrey;
}

input[type=submit]{
        width: 6em;
        border-color:#f13170; 
}

input[type=submit]:hover{
        background-color: darkgray;
}

.mistake {
    color: red;
    border: solid thick red;
}

#errors h2{
    color: #f13170;
}

#errors ol li{
    color: red;
}


.form-message {
    color: #f13170
}

.radio-field {
    float: left;
}

.radio, .listbox {
   border:none;
}

.comment input{
    width: 100%;
}

/* 
    Created on : Apr 2, 2017, 10:15:43 PM
    Author     : Cristine Enoki
*/

